<%= form_with model: category do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :value %><br>
    <%= form.text_field :value %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
